#about{
    .container{
        .heading{
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
            h3{
                color: #090F29;
                font-weight: 700;
                font-size: 32px;
            }
        }
        .img{
            padding: 10px;
            margin-bottom: 15px;
            img{
                width: 100%;
                padding: 4px;
                border: 1.5px solid #ddd;
                border-radius: 4px;
            }
        }
        .info{
            p.heading{
                text-align: center;
                margin: 15px 0;
                padding: 0;
                font-weight: 900;
                font-style: italic;
            }
        }
        .skillBar{
            margin-bottom: 50px;
            $color: (
                bg_from: #B1D056,
                bg_end: #eeaa37,
                text_from: #94bd1d,
                text_end: #f98702
            );

            @keyframes load_in {
                0% { transform: rotateY(-30deg); opacity: 0;}
                15% {transform: rotateY(30deg)}
                40% { transform: rotateY(-15deg); opacity: 1;}
                85% { transform: rotateY(5deg);}
                100% { transform: rotateY(0deg);}
            }
            .skill_box {
                margin-top: 20px;
                margin-left: -15px;
                width: 52vw;
                padding: 15px;
                border-radius: 5px;
                animation: load_in 1s 1 forwards linear;

                @media screen and (max-width: 480px) {
                    margin-left: 5px;
                    margin-right: 5px;
                    width: 100%;
                }

                h3 {
                    margin-bottom: 15px;
                    color: #333;
                }
            }

            .skills {
               margin-bottom: 15px;

                ul {
                    list-style-type: none;
                    padding: 0px;
                }

                li {
                    padding: 5px;
                    margin-bottom: 15px;
                    position: relative;
                    border-radius: 5px;

                    span {
                        color: map-get($color, text_from);
                        position: relative;

                        &.bar {
                            background: map-get($color, bg_from);
                            background: linear-gradient(to right, map-get($color, bg_from), map-get($color, bg_end));
                            position: absolute;
                            left: 0px;
                            bottom: -7px;
                            height: 8px;
                            border-radius: 5px;
                            box-shadow: 1px 1px 3px rgba(#000, 0.5),
                                        1px 1px 3px rgba(#333,0.6);
                        }

                        b {
                            color: map-get($color, text_end);
                            font-weight: normal;
                            position: absolute;
                            bottom: 0px;
                            right: -20px;
                            margin-bottom: 10px;
                            font-size: 13px;
                            // display: none;
                            transition: 1s;
                        }
                    }

                    &:after {
                        content: '';
                        width: 100%;
                        height: 8px;
                        background-color: #ddd;
                        position: absolute;
                        left: 0px;
                        bottom: -10px;
                        z-index: -1;
                        border-radius: 5px;
                        margin-bottom: 2px;
                        box-shadow: 0px 0px 1px #feb, 2px 2px 8px #999 inset;
                    }
                }
            }

            .circles_box {
                padding: 10px;
                padding-left: 20px;
                padding-right: 20px;
                height: initial;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }

            .lowerTitle {
                margin-top: 40px;   
            }

            .svg_box {
                position: relative;
                text-align: center;

                .inner {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    z-index: 1;
                    font-size: 1em;
                    letter-spacing: 2px;
                }

                svg {
                    width: 150px;
                    height: 150px;
                    fill: none;
                    transform: rotate(-90deg);

                    .inner_circle {
                        stroke-width: 0.15;
                        stroke: #ccc;
                        z-index: 0;
                    }

                    .circle {
                        stroke-width: 0.5;
                        stroke: #dc8336;
                        stroke-linecap: round;
                        z-index: 5;
                    }
                }
            }

            @media screen and (max-width: 480px) {
                .title {
                    font-size: 14px;
                    display: block;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }

                .bar b {
                    font-size: 10px;
                }
            }

        }
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


// Responsive design
@media screen and(min-width: 750px) and (max-width:920px){
    #about{
        .container{
            .heading{
                h3{
                    font-size: 52px;
                }
            }
            .img{
                position: relative;
                top: 30px;
                img{
                    width: 45%;
                    float: right;
                }
            }
            .info{
                width: 43vw;
            }
            .skillBar{
                width: 43vw;
            }
            p.heading{
                font-size: 22px;
            }
        }
    }
}

@media screen and(min-width: 850px) and (max-width:1200px){
     #about{
        .container{
             .heading{
                h3{
                    font-size: 52px;
                }
            }
            p.heading{
                font-size: 22px;
            }
            .img{
                img{
                    width: 35%;
                    float: right;
                }
            }
            .info{
                width: 47vw;
            }
            .skillBar{
                width: 47vw;
            }
        }
    }
}

@media screen and (min-width:1199px){
     #about{
        .container{
             .heading{
                h3{
                    font-size: 52px;
                }
            }
            p.heading{
                font-size: 22px;
            }
            .img{
                position: relative;
                top: 27.5px;
                img{
                    width: 27%;
                    float: right;
                }
            }
            .info{
                width: 52vw;
            }
            .skillBar{
                width: 52vw;
            }
        }
    }
}
