// #contact{
//     margin-bottom: 70px;
//     // .container{
//     //     .header{
//     //         text-align: center;
//     //         margin:50px 0;
//     //         h1{
//     //             color: #090F29;
//     //         }
//     //     }
//     //         input, textarea{
//     //             width: 100%;
//     //             border: 1px solid #090F29;
//     //             box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
//     //             color: #090F29;
//     //             height: auto;
//     //             min-height: 40px;
//     //             padding: 14px 20px;
//     //             -webkit-transition: all 0.3s ease 0s;
//     //             transition: all 0.3s ease 0s;
//     //             border-radius: 2px;
//     //             margin-bottom: 20px;
//     //         }
//     //         textarea#message{
//     //             min-height: 40px;
//     //             max-width: 73vw;
//     //         }
//     //         button#sendMsg{
//     //             position: relative;
//     //             left: 15px;
//     //             width: 71.8vw;
//     //             background: none;
//     //             border: 1px solid #090F29;
//     //             color: #ffffff;
//     //             padding: 14px 40px;
//     //             border-radius: 3px;
//     //             -webkit-transition: 0.4s;
//     //             transition: 0.4s;
//     //             background-color: #090F29;
//     //             letter-spacing: 2px;
//     //             text-transform: uppercase;
//     //             font-size: 11px;

//     //             &:hover{
//     //                 background-color: transparent;
//     //                 color: #090F29;
//     //             }
//     //         }
//     // }
// }


// // @media(min-width:1300px){
// //     #contact{
// //         input{
// //             width: 50%;
// //         }
// //     }
// }



form .field input[type="text"], form .field textarea {
    width: 100% !important;
}

// Grid
@mixin grid($column) {
	  width:(100% / 12) * $column;
	  margin:0 auto;
}

// Transition Ease
@mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
	  -webkit-transition: $attr $time $curve;
	  -moz-transition: $attr $time $curve;
	  -o-transition: $attr $time $curve;
	  -ms-transition: $attr $time $curve;
	  transition: $attr $time $curve;
}

//-- Lato --//
@mixin lato-1 {font-family: 'Lato', sans-serif; font-weight:100;}
@mixin lato-1-i {@include lato-1; font-style:italic;}

@mixin lato-3 {font-family: 'Lato', sans-serif; font-weight:300;}
@mixin lato-3-i {@include lato-3; font-style:italic;}

@mixin lato-4 {font-family: 'Lato', sans-serif; font-weight:400;}
@mixin lato-4-i {@include lato-4; font-style:italic;}

@mixin lato-7 {font-family: 'Lato', sans-serif; font-weight:700;}
@mixin lato-7-i {@include lato-7; font-style:italic;}

@mixin lato-9 {font-family: 'Lato', sans-serif; font-weight:900;}
@mixin lato-9-i {@include lato-9; font-style:italic;}


// Colors
$blue:#313A3D;
$orange:#FD9638;
$dark-orange:darken($orange, 20%);
$grey:#B6B6B6;
$light-grey:lighten($grey, 15%);

$background:#efefef;
$field-color:#E8E9EA;





body {

  section {
    margin:60px auto 120px;
    text-align:center;
    padding:50px 0 110px;
    width:80%;
    max-width:1100px;
    
    h1 {
      margin-bottom:40px;
      font-size:2em;
      text-transform:uppercase;
      @include lato-1;
    }
  }
}

// Form
form {
    @include grid(7);

    .field {
        width:100%;
        position:relative;
        margin-bottom:40px;

        $hover-label-width:18%;
        $placeholder-bumper:1.5%;
        $label-padding:18px;

        // Label
        label {
                color: $grey;
                text-transform: uppercase;
                position:absolute;
                top:0;
                left:0;
                background:$blue;
                width:100%;
                padding:($label-padding + 0px) 0;
                font-size: 15px;
                letter-spacing: 0.075em;

                @include ease(333ms);

                // Checkmark
                + span {
                    font-family: 'SSStandard';
                    opacity: 0;
                    color:white;
                    display: block;
                    position:absolute;
                    top: 12px;
                    left: 7%;
                    font-size: 15px;
                    text-shadow:1px 2px 0 $dark-orange;

                    @include ease(333ms);
            }
        }

        // Fields
        input[type="text"],
        textarea {
                border:none;
                overflow: hidden;
                background:$field-color;
                width:100% - $hover-label-width - $placeholder-bumper;
                margin:0;
                padding:$label-padding 0;
                padding-left:$hover-label-width + $placeholder-bumper;
                color:$blue;
                font-size: 15px;
                letter-spacing: 0.05em;
                text-transform: uppercase;

                &#msg {
                    height: 57px;
                    resize: none;
                    @include ease(333ms);
                }

            // Focus and JS Toggle Class
                &:focus,
                &.focused {
                    outline:none;

                    &#msg {
                            padding-bottom:150px;
                    }

                    + label {
                            width:$hover-label-width;
                            background:$orange;
                            color:$blue;
                    }
                }

            // JS Toggle Class
                &.focused {
                    + label {
                            color: $orange;
                    }
                }
        }

        // Field Hover
        &:hover {
                label {
                    width:$hover-label-width;
                    background:$blue;
                    color:white;
                }
        }
    }

    // Submit Button
    input[type="submit"] {
        background:$orange;
        color:white;
        -webkit-appearance: none;
        border: none;
        text-transform: uppercase;
        position:relative;
        padding: 13px 50px;
        font-size: 15px;
        letter-spacing: 0.1em;
        @include lato-3;
        @include ease;

        &:hover {
                background:$blue;
                color:$orange;
        }

        &:focus {
                outline:none;
                background:$dark-orange;
        }
    }
}

@media(max-width:540px) {
    form .field:hover label {
        width:18%;
        font-size:0px;
        height: 100%;
    }
    form .field input[type="text"]:focus ~ label,form .field textarea:focus#msg ~ label {
        font-size:0;
        height:100%;
    }
    form .field textarea#msg {
        font-size:12px;
    }
    form .field input[type="text"] {
        font-size:12px;
    }
}


@media (max-width:901px){
    .owl-dots{
        left: 0em;
        margin-top: -289px !important;
    }
}