// Colors
$white:rgb(251, 251, 251) ;


// Cursor
$pointer:pointer;

// Display
$flex:flex;
$spaceAround:space-around;
$spaceBetween:space-between;

.introduction{
    background-image: url("../image/3.jpg");
    background-size: cover;
    background-position: center center;
    #creative{
        height: 90vh;
        .menu{
            padding-left: 0px;
            padding-right: 0;
            padding-top: 0px;
            .col-xs-6{
                padding-right: 14px;
                h2{
                    a{
                        position: relative;
                        bottom: 2px;
                        color: $white;
                        cursor: $pointer;
                        right: 0px;
                        text-decoration: none;
                    }
                }
                span{
                    float: right;
                    margin-top: 21px;
                    cursor: $pointer;                    
                    i{
                        font-size: 28px;
                        color: $white;
                    }
                }
                .bar{
                    display: none;
                    ul{
                        position: relative;
                        top: 6px;
                        list-style: none;
                        display: $flex;
                        li{
                            padding: 20px;
                            cursor: $pointer;
                            a{
                                font-size: 18px;
                                font-weight: 700;
                                letter-spacing: 2px;
                                line-height: 20px;
                                color: $white;
                                text-decoration: none;
                            }
                            &:hover{
                                transition: all .3s ease-in-out;
                                background: $white;
                                transform: scale(1.1);
                                    a{
                                        color: black;
                                    }
                            }
                        }
                    }
                }
            }
        }
        .middle{
            margin-top: 135px;
            position: relative;
            right: 12.5px;
            .text{
                padding-left: 12px;
                p{
                    font-size: 28px;
                    color: $white;
                }
            }
            .video{
                span{
                    cursor: $pointer;
                    margin-left: 31px;
                    i{
                        font-size: 35px;
                        color: $white;

                        &:hover{
                            transition: all .3s ease-in-out;
                            transform: scale(1.2)
                        }   
                    }
                }
            }
            .social{
                padding: 0 10px;
                margin-top: 20px;
                display: $flex;
                span{
                    margin-right: 8px;
                    cursor: $pointer;
                    i{
                        width: 30px;
                        height: 30px;
                        display: block;
                        text-align: center;
                        border: 1px solid #fff;
                        line-height: 1.8;
                        border-radius: 50%;
                        position: relative;
                        display: $flex;
                        justify-content: center;
                        font-size: 16px;
                        color: $white;
                        
                        &:hover{
                            transition: all .3s ease-in-out;
                            background: $white;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}



// Responsive Design


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media screen and (min-width:292px) and (max-width:293px){
    .social{
        bottom: 0px;
    }
}
@media screen and (min-width:293px){
     #creative{
         .middle{
             .video{
                 span{
                    position: relative;
                    bottom: 44px;
                    left: 153px;
                 }
             }
             .social{
               position: relative;
               bottom: 50px;
             }
         }
     }

}


@media  (min-width: 749px){
    #creative{
        .col-xs-6{
            span{
                visibility: hidden;
            }
            .bar{
                position: relative;
                display: block !important;
            }
        }
        .middle{
            .text{
                p{
                    font-size: 65px !important;
                }
            }
            .video{
                span{
                    // margin-left: 36px !important;
                    position: relative;
                    left: 28em;
                    bottom: 76px;
                    i{
                        font-size: 55px !important;
                    }
                }
            }
            .social{
                left: 5px;
                span{
                    margin-right: 31px !important;
                    i{
                        width: 50px !important;
                        height: 50px !important;
                        font-size: 26px !important;
                    }
                }
            }
        }
    }
}


@media  (min-width: 749px) and (max-width:990px){
    .bar{
        ul{
            right: 16.2em;            
           a{
               font-size: 15px !important;
           }
        }
    }
}

@media (min-width:990px) and (max-width:1130px){
    #creative{
        .bar{
            ul{
                right: 11.2em;
            }
        }
    }
}
@media (min-width:1130px) and (max-width:1260px){
    #creative{
        .bar{
            ul{
                right: 7.2em;
            }
        }
    }
}

@media screen and (min-width:1260px) {
      #creative{
        .bar{
            ul{
                right: 1.2em;
            }
        }
    }
}
