body{
    font-family: 'Lato', sans-serif;
}
@import "_creative";
@import "_about";
@import "_service";
@import "_work";
@import "_testimonial";
@import "_contact";
@import "_footer";

// PRELOADER STARTS
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 223123123123;
}
// PRELOADER ENDS


// SCROLL PAGE FROM BOTTOM 
#fromBottomTop{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 25px;
	width: 40px;
    height: 40px;
    border: 1px solid #090F29;
    text-align: center;	
	line-height: 1.9;
    font-size: 18px;
    border-radius: 2px;
    background-color: #ffffff;	
	cursor: pointer;
	transition: all .2s ease-in-out;
	&:hover{
		background: #090F29;
		color: #ffffff;
	}
}
